<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.nantian.mapper.NtHolInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.nantian.pojo.NtHolInfo">
    <id column="PER_ID" jdbcType="INTEGER" property="perId" />
    <result column="YEAR_DAYS" jdbcType="REAL" property="yearDays" />
    <result column="OVER_YEAR_DAYS" jdbcType="REAL" property="overYearDays" />
    <result column="DAY_OFF_DAYS" jdbcType="REAL" property="dayOffDays" />
    <result column="OVER_DAY_OFF_DAYS" jdbcType="REAL" property="overDayOffDays" />
  </resultMap>
  <sql id="Base_Column_List">
    nt_hol_info.PER_ID, nt_hol_info.YEAR_DAYS, nt_hol_info.OVER_YEAR_DAYS, nt_hol_info.DAY_OFF_DAYS, nt_hol_info.OVER_DAY_OFF_DAYS
  </sql>
  <select id="selectHolInfoList" parameterType="cn.com.nantian.pojo.NtHolInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    nt_personnel.`NAME` userName,
    nt_department.DEPT_NAME deptName,
    nt_department.DEPT_ID deptId
    FROM
    nt_hol_info
    LEFT JOIN nt_personnel ON nt_hol_info.PER_ID=nt_personnel.PER_ID
    LEFT JOIN nt_department ON nt_personnel.DEPT_ID=nt_department.DEPT_ID
    <where>
      <if test="userName !=null and userName !=''">
        and nt_personnel.NAME like CONCAT('%',#{userName},'%')
      </if>
      <if test="deptId !=null and deptId >0">
        and nt_department.DEPT_ID=#{deptId}
      </if>
      <if test="perId !=null and perId >0">
        and nt_hol_info.PER_ID=#{perId}
      </if>
    </where>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from nt_hol_info
    where PER_ID = #{perId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nt_hol_info
    where PER_ID = #{perId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.nantian.pojo.NtHolInfo">
    insert into nt_hol_info (PER_ID, YEAR_DAYS, OVER_YEAR_DAYS,
    DAY_OFF_DAYS, OVER_DAY_OFF_DAYS)
    values (#{perId,jdbcType=INTEGER}, #{yearDays,jdbcType=REAL}, #{overYearDays,jdbcType=REAL},
    #{dayOffDays,jdbcType=REAL}, #{overDayOffDays,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.nantian.pojo.NtHolInfo">
    insert into nt_hol_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="perId != null">
        PER_ID,
      </if>
      <if test="yearDays != null">
        YEAR_DAYS,
      </if>
      <if test="overYearDays != null">
        OVER_YEAR_DAYS,
      </if>
      <if test="dayOffDays != null">
        DAY_OFF_DAYS,
      </if>
      <if test="overDayOffDays != null">
        OVER_DAY_OFF_DAYS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="perId != null">
        #{perId,jdbcType=INTEGER},
      </if>
      <if test="yearDays != null">
        #{yearDays,jdbcType=REAL},
      </if>
      <if test="overYearDays != null">
        #{overYearDays,jdbcType=REAL},
      </if>
      <if test="dayOffDays != null">
        #{dayOffDays,jdbcType=REAL},
      </if>
      <if test="overDayOffDays != null">
        #{overDayOffDays,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.nantian.pojo.NtHolInfo">
    update nt_hol_info
    <set>
      <if test="yearDays != null">
        YEAR_DAYS = #{yearDays,jdbcType=REAL},
      </if>
      <if test="overYearDays != null">
        OVER_YEAR_DAYS = #{overYearDays,jdbcType=REAL},
      </if>
      <if test="dayOffDays != null">
        DAY_OFF_DAYS = #{dayOffDays,jdbcType=REAL},
      </if>
      <if test="overDayOffDays != null">
        OVER_DAY_OFF_DAYS = #{overDayOffDays,jdbcType=REAL},
      </if>
    </set>
    where PER_ID = #{perId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.nantian.pojo.NtHolInfo">
    update nt_hol_info
    set YEAR_DAYS = #{yearDays,jdbcType=REAL},
    OVER_YEAR_DAYS = #{overYearDays,jdbcType=REAL},
    DAY_OFF_DAYS = #{dayOffDays,jdbcType=REAL},
    OVER_DAY_OFF_DAYS = #{overDayOffDays,jdbcType=REAL}
    where PER_ID = #{perId,jdbcType=INTEGER}
  </update>
</mapper>