<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.nantian.mapper.NtHolidayMapper" >
  <resultMap id="BaseResultMap" type="cn.com.nantian.pojo.NtHoliday" >
    <id column="HOLIDAY_ID" property="holidayId" jdbcType="INTEGER" />
    <result column="HOLIDAY_NAME" property="holidayName" jdbcType="VARCHAR" />
    <result column="HOLIDAY_TYPE" property="holidayType" jdbcType="CHAR" />
    <result column="BEGIN_DATE" property="beginDate" jdbcType="DATE" />
    <result column="END_DATE" property="endDate" jdbcType="DATE" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    HOLIDAY_ID, HOLIDAY_NAME, HOLIDAY_TYPE, BEGIN_DATE, END_DATE, DESCRIPTION
  </sql>
  <select id="queryHolidayList" resultMap="BaseResultMap" parameterType="cn.com.nantian.pojo.NtHoliday" >
    select
    <include refid="Base_Column_List" />,
    d.DIC_VALUE holidayTypeName
    from nt_holiday
    LEFT JOIN nt_dictionaries d ON d.DIC_CODE=nt_holiday.HOLIDAY_TYPE
    <where>
      d.DIC_TYPE='holiday'
      <if test="holidayName!=null and holidayName!=''">
        and nt_holiday.HOLIDAY_NAME like CONCAT('%',#{holidayName},'%')
      </if>
      <if test="beginDate!=null and beginDate!=''">
        and <![CDATA[ DATE_FORMAT(nt_holiday.BEGIN_DATE, '%Y') = DATE_FORMAT(#{beginDate}, '%Y') ]]>
      </if>
    order by HOLIDAY_ID desc
    </where>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from nt_holiday
    where HOLIDAY_ID = #{holidayId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from nt_holiday
    where HOLIDAY_ID = #{holidayId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.nantian.pojo.NtHoliday" >
    insert into nt_holiday (HOLIDAY_ID, HOLIDAY_NAME, HOLIDAY_TYPE,
      BEGIN_DATE, END_DATE, DESCRIPTION
      )
    values (#{holidayId,jdbcType=INTEGER}, #{holidayName,jdbcType=VARCHAR}, #{holidayType,jdbcType=CHAR},
      #{beginDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.nantian.pojo.NtHoliday" >
    insert into nt_holiday
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="holidayId != null" >
        HOLIDAY_ID,
      </if>
      <if test="holidayName != null" >
        HOLIDAY_NAME,
      </if>
      <if test="holidayType != null" >
        HOLIDAY_TYPE,
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="holidayId != null" >
        #{holidayId,jdbcType=INTEGER},
      </if>
      <if test="holidayName != null" >
        #{holidayName,jdbcType=VARCHAR},
      </if>
      <if test="holidayType != null" >
        #{holidayType,jdbcType=CHAR},
      </if>
      <if test="beginDate != null" >
        #{beginDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.nantian.pojo.NtHoliday" >
    update nt_holiday
    <set >
      <if test="holidayName != null" >
        HOLIDAY_NAME = #{holidayName,jdbcType=VARCHAR},
      </if>
      <if test="holidayType != null" >
        HOLIDAY_TYPE = #{holidayType,jdbcType=CHAR},
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE = #{beginDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=DATE},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where HOLIDAY_ID = #{holidayId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.nantian.pojo.NtHoliday" >
    update nt_holiday
    set HOLIDAY_NAME = #{holidayName,jdbcType=VARCHAR},
      HOLIDAY_TYPE = #{holidayType,jdbcType=CHAR},
      BEGIN_DATE = #{beginDate,jdbcType=DATE},
      END_DATE = #{endDate,jdbcType=DATE},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where HOLIDAY_ID = #{holidayId,jdbcType=INTEGER}
  </update>
  <select id="countByDay" resultType="java.lang.Integer" >
    select count(*) from nt_holiday
    WHERE  HOLIDAY_DATE = #{record.holidayDate,jdbcType=DATE}
    and HOLIDAY_TYPE ="1"
  </select>
  <select id="selectByDay" resultType="java.lang.Integer" >
    select count(*) from nt_holiday
    WHERE  HOLIDAY_DATE = #{record.holidayDate,jdbcType=DATE}
    and HOLIDAY_TYPE ="2"
  </select>
</mapper>