<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.nantian.mapper.NtLeaveMapper" >
  <resultMap id="BaseResultMap" type="cn.com.nantian.pojo.NtLeave">
    <id column="LEAVE_ID" jdbcType="INTEGER" property="leaveId" />
    <result column="PER_ID" jdbcType="INTEGER" property="perId" />
    <result column="BEG_DATE" jdbcType="TIMESTAMP" property="begDate" />
    <result column="END_DATE" jdbcType="TIMESTAMP" property="endDate" />
    <result column="LEAVE_TYPE" jdbcType="CHAR" property="leaveType" />
    <result column="LEAVE_COUNT" jdbcType="REAL" property="leaveCount" />
    <result column="LEAVE_REMARK" jdbcType="VARCHAR" property="leaveRemark" />
    <result column="APPLY_STATUS" jdbcType="CHAR" property="applyStatus" />
    <result column="APPROVE_DATE" jdbcType="TIMESTAMP" property="approveDate" />
    <result column="MANAGER_ID" jdbcType="INTEGER" property="managerId" />
    <result column="APPROVE_OPN" jdbcType="VARCHAR" property="approveOpn" />
  </resultMap>
  <sql id="Base_Column_List">
    nt_leave.LEAVE_ID, nt_leave.PER_ID, nt_leave.BEG_DATE, nt_leave.END_DATE, nt_leave.LEAVE_TYPE, nt_leave.LEAVE_COUNT, nt_leave.LEAVE_REMARK, nt_leave.APPLY_STATUS,
    nt_leave.APPROVE_DATE, nt_leave.MANAGER_ID, nt_leave.APPROVE_OPN
  </sql>
  <!--查询统计请假信息 start-->
  <select id="queryStatisticalLeaveTotal" parameterType="cn.com.nantian.pojo.NtLeave" resultMap="BaseResultMap">
    select
    COUNT(nt_leave.PER_ID) totalNum,IFNULL(SUM(nt_leave.LEAVE_COUNT), 0)  totalHours
    FROM
    nt_leave
    LEFT JOIN nt_personnel ON nt_leave.PER_ID = nt_personnel.PER_ID
    LEFT JOIN nt_department ON nt_personnel.DEPT_ID = nt_department.DEPT_ID
    <where>
      <if test="leaveType !=null and leaveType !=''">
        and nt_leave.LEAVE_TYPE =#{leaveType}
      </if>
      <if test="userName !=null and userName !=''">
        and nt_personnel.NAME like CONCAT('%',#{userName},'%')
      </if>
      <if test="deptId !=null and deptId >0">
        and nt_department.DEPT_ID=#{deptId}
      </if>
      <if test="begDate !=null and begDate !=''">
        and <![CDATA[ nt_leave.BEG_DATE>=#{begDate}]]>
      </if>
    </where>
    order by nt_leave.LEAVE_ID desc
  </select>
  <!--查询统计请假信息 end -->
  <select id="selectLeaveList" parameterType="cn.com.nantian.pojo.NtLeave" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    nt_personnel.`NAME` userName,
    nt_department.DEPT_NAME deptName
    FROM
    nt_leave
    LEFT JOIN nt_personnel ON nt_leave.PER_ID = nt_personnel.PER_ID
    LEFT JOIN nt_department ON nt_personnel.DEPT_ID = nt_department.DEPT_ID
    <where>
      <if test="userName !=null and userName !=''">
        and nt_personnel.NAME like CONCAT('%',#{userName},'%')
      </if>
      <if test="deptId !=null and deptId >0">
        and nt_department.DEPT_ID=#{deptId}
      </if>
      <if test="begDate !=null and begDate !=''">
        and <![CDATA[ nt_leave.BEG_DATE>=#{begDate}]]>
      </if>
    </where>
    order by nt_leave.LEAVE_ID desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from nt_leave
    where LEAVE_ID = #{leaveId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nt_leave
    where LEAVE_ID = #{leaveId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.nantian.pojo.NtLeave">
    insert into nt_leave (LEAVE_ID, PER_ID, BEG_DATE,
    END_DATE, LEAVE_TYPE, LEAVE_COUNT,
    LEAVE_REMARK, APPLY_STATUS, APPROVE_DATE,
    MANAGER_ID, APPROVE_OPN)
    values (#{leaveId,jdbcType=INTEGER}, #{perId,jdbcType=INTEGER}, #{begDate,jdbcType=TIMESTAMP},
    #{endDate,jdbcType=TIMESTAMP}, #{leaveType,jdbcType=CHAR}, #{leaveCount,jdbcType=REAL},
    #{leaveRemark,jdbcType=VARCHAR}, #{applyStatus,jdbcType=CHAR}, #{approveDate,jdbcType=TIMESTAMP},
    #{managerId,jdbcType=INTEGER}, #{approveOpn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.nantian.pojo.NtLeave">
    insert into nt_leave
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="leaveId != null">
        LEAVE_ID,
      </if>
      <if test="perId != null">
        PER_ID,
      </if>
      <if test="begDate != null">
        BEG_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
      <if test="leaveType != null">
        LEAVE_TYPE,
      </if>
      <if test="leaveCount != null">
        LEAVE_COUNT,
      </if>
      <if test="leaveRemark != null">
        LEAVE_REMARK,
      </if>
      <if test="applyStatus != null">
        APPLY_STATUS,
      </if>
      <if test="approveDate != null">
        APPROVE_DATE,
      </if>
      <if test="managerId != null">
        MANAGER_ID,
      </if>
      <if test="approveOpn != null">
        APPROVE_OPN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="leaveId != null">
        #{leaveId,jdbcType=INTEGER},
      </if>
      <if test="perId != null">
        #{perId,jdbcType=INTEGER},
      </if>
      <if test="begDate != null">
        #{begDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveType != null">
        #{leaveType,jdbcType=CHAR},
      </if>
      <if test="leaveCount != null">
        #{leaveCount,jdbcType=REAL},
      </if>
      <if test="leaveRemark != null">
        #{leaveRemark,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null">
        #{applyStatus,jdbcType=CHAR},
      </if>
      <if test="approveDate != null">
        #{approveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="approveOpn != null">
        #{approveOpn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.nantian.pojo.NtLeave">
    update nt_leave
    <set>
      <if test="perId != null">
        PER_ID = #{perId,jdbcType=INTEGER},
      </if>
      <if test="begDate != null">
        BEG_DATE = #{begDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveType != null">
        LEAVE_TYPE = #{leaveType,jdbcType=CHAR},
      </if>
      <if test="leaveCount != null">
        LEAVE_COUNT = #{leaveCount,jdbcType=REAL},
      </if>
      <if test="leaveRemark != null">
        LEAVE_REMARK = #{leaveRemark,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null">
        APPLY_STATUS = #{applyStatus,jdbcType=CHAR},
      </if>
      <if test="approveDate != null">
        APPROVE_DATE = #{approveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="managerId != null">
        MANAGER_ID = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="approveOpn != null">
        APPROVE_OPN = #{approveOpn,jdbcType=VARCHAR},
      </if>
    </set>
    where LEAVE_ID = #{leaveId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.nantian.pojo.NtLeave">
    update nt_leave
    set PER_ID = #{perId,jdbcType=INTEGER},
    BEG_DATE = #{begDate,jdbcType=TIMESTAMP},
    END_DATE = #{endDate,jdbcType=TIMESTAMP},
    LEAVE_TYPE = #{leaveType,jdbcType=CHAR},
    LEAVE_COUNT = #{leaveCount,jdbcType=REAL},
    LEAVE_REMARK = #{leaveRemark,jdbcType=VARCHAR},
    APPLY_STATUS = #{applyStatus,jdbcType=CHAR},
    APPROVE_DATE = #{approveDate,jdbcType=TIMESTAMP},
    MANAGER_ID = #{managerId,jdbcType=INTEGER},
    APPROVE_OPN = #{approveOpn,jdbcType=VARCHAR}
    where LEAVE_ID = #{leaveId,jdbcType=INTEGER}
  </update>
  <update id="updateLeaveStatus" parameterType="cn.com.nantian.pojo.NtLeave">
    update nt_leave
    set
    APPLY_STATUS = #{applyStatus,jdbcType=CHAR},
    APPROVE_DATE = #{approveDate,jdbcType=TIMESTAMP},
    MANAGER_ID = #{managerId,jdbcType=INTEGER},
    APPROVE_OPN = #{approveOpn,jdbcType=VARCHAR}
    where LEAVE_ID = #{leaveId,jdbcType=INTEGER}
  </update>
</mapper>