<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.nantian.mapper.NtPersonnelApplyMapper" >
  <resultMap id="BaseResultMap" type="cn.com.nantian.pojo.NtPersonnelApply" >
    <id column="APPLY_SEQ" property="applySeq" jdbcType="INTEGER" />
    <result column="PER_ID" property="perId" jdbcType="INTEGER" />
    <result column="APPLY_DATE" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="APPLY_TYPE" property="applyType" jdbcType="CHAR" />
    <result column="APPLY_VALUE" property="applyValue" jdbcType="VARCHAR" />
    <result column="WORK_DATE" property="workDate" jdbcType="DATE" />
    <result column="APPLY_STATUS" property="applyStatus" jdbcType="CHAR" />
    <result column="ERR_DESCRIBE" property="errDescribe" jdbcType="VARCHAR" />
    <result column="APPROVE_DATE" property="approveDate" jdbcType="TIMESTAMP" />
    <result column="MANAGER_ID" property="managerId" jdbcType="INTEGER" />
    <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="APPROVE_OPN" property="approveOpn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    APPLY_SEQ, PER_ID, APPLY_DATE, APPLY_TYPE, APPLY_VALUE, WORK_DATE, APPLY_STATUS, 
    ERR_DESCRIBE, APPROVE_DATE, MANAGER_ID, FILE_PATH, FILE_NAME, APPROVE_OPN
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from nt_personnel_apply
    where APPLY_SEQ = #{applySeq,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from nt_personnel_apply
    where APPLY_SEQ = #{applySeq,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.nantian.pojo.NtPersonnelApply" >
    insert into nt_personnel_apply (APPLY_SEQ, PER_ID, APPLY_DATE, 
      APPLY_TYPE, APPLY_VALUE, WORK_DATE, 
      APPLY_STATUS, ERR_DESCRIBE, APPROVE_DATE, 
      MANAGER_ID, FILE_PATH, FILE_NAME, 
      APPROVE_OPN)
    values (#{applySeq,jdbcType=INTEGER}, #{perId,jdbcType=INTEGER}, #{applyDate,jdbcType=TIMESTAMP}, 
      #{applyType,jdbcType=CHAR}, #{applyValue,jdbcType=VARCHAR}, #{workDate,jdbcType=DATE}, 
      #{applyStatus,jdbcType=CHAR}, #{errDescribe,jdbcType=VARCHAR}, #{approveDate,jdbcType=TIMESTAMP}, 
      #{managerId,jdbcType=INTEGER}, #{filePath,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, 
      #{approveOpn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.nantian.pojo.NtPersonnelApply" >
    insert into nt_personnel_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applySeq != null" >
        APPLY_SEQ,
      </if>
      <if test="perId != null" >
        PER_ID,
      </if>
      <if test="applyDate != null" >
        APPLY_DATE,
      </if>
      <if test="applyType != null" >
        APPLY_TYPE,
      </if>
      <if test="applyValue != null" >
        APPLY_VALUE,
      </if>
      <if test="workDate != null" >
        WORK_DATE,
      </if>
      <if test="applyStatus != null" >
        APPLY_STATUS,
      </if>
      <if test="errDescribe != null" >
        ERR_DESCRIBE,
      </if>
      <if test="approveDate != null" >
        APPROVE_DATE,
      </if>
      <if test="managerId != null" >
        MANAGER_ID,
      </if>
      <if test="filePath != null" >
        FILE_PATH,
      </if>
      <if test="fileName != null" >
        FILE_NAME,
      </if>
      <if test="approveOpn != null" >
        APPROVE_OPN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applySeq != null" >
        #{applySeq,jdbcType=INTEGER},
      </if>
      <if test="perId != null" >
        #{perId,jdbcType=INTEGER},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyType != null" >
        #{applyType,jdbcType=CHAR},
      </if>
      <if test="applyValue != null" >
        #{applyValue,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null" >
        #{workDate,jdbcType=DATE},
      </if>
      <if test="applyStatus != null" >
        #{applyStatus,jdbcType=CHAR},
      </if>
      <if test="errDescribe != null" >
        #{errDescribe,jdbcType=VARCHAR},
      </if>
      <if test="approveDate != null" >
        #{approveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="managerId != null" >
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="approveOpn != null" >
        #{approveOpn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.nantian.pojo.NtPersonnelApply" >
    update nt_personnel_apply
    <set >
      <if test="perId != null" >
        PER_ID = #{perId,jdbcType=INTEGER},
      </if>
      <if test="applyDate != null" >
        APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyType != null" >
        APPLY_TYPE = #{applyType,jdbcType=CHAR},
      </if>
      <if test="applyValue != null" >
        APPLY_VALUE = #{applyValue,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null" >
        WORK_DATE = #{workDate,jdbcType=DATE},
      </if>
      <if test="applyStatus != null" >
        APPLY_STATUS = #{applyStatus,jdbcType=CHAR},
      </if>
      <if test="errDescribe != null" >
        ERR_DESCRIBE = #{errDescribe,jdbcType=VARCHAR},
      </if>
      <if test="approveDate != null" >
        APPROVE_DATE = #{approveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="managerId != null" >
        MANAGER_ID = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="filePath != null" >
        FILE_PATH = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="approveOpn != null" >
        APPROVE_OPN = #{approveOpn,jdbcType=VARCHAR},
      </if>
    </set>
    where APPLY_SEQ = #{applySeq,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.nantian.pojo.NtPersonnelApply" >
    update nt_personnel_apply
    set PER_ID = #{perId,jdbcType=INTEGER},
      APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP},
      APPLY_TYPE = #{applyType,jdbcType=CHAR},
      APPLY_VALUE = #{applyValue,jdbcType=VARCHAR},
      WORK_DATE = #{workDate,jdbcType=DATE},
      APPLY_STATUS = #{applyStatus,jdbcType=CHAR},
      ERR_DESCRIBE = #{errDescribe,jdbcType=VARCHAR},
      APPROVE_DATE = #{approveDate,jdbcType=TIMESTAMP},
      MANAGER_ID = #{managerId,jdbcType=INTEGER},
      FILE_PATH = #{filePath,jdbcType=VARCHAR},
      FILE_NAME = #{fileName,jdbcType=VARCHAR},
      APPROVE_OPN = #{approveOpn,jdbcType=VARCHAR}
    where APPLY_SEQ = #{applySeq,jdbcType=INTEGER}
  </update>
</mapper>