<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.nantian.mapper.NtPerAliasMapper" >
  <resultMap id="BaseResultMap" type="cn.com.nantian.pojo.NtPerAlias" >
    <result column="PER_ID" property="perId" jdbcType="INTEGER" />
    <result column="PROJECT_NUMBER" property="projectNumber" jdbcType="INTEGER" />
    <result column="IN_PROJECT_NAME" property="inProjectName" jdbcType="VARCHAR" />
    <result column="IN_COMPANY_NAME" property="inCompanyName" jdbcType="VARCHAR" />
    <result column="ID_NO" property="idNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    nt_per_alias.PER_ID, nt_per_alias.PROJECT_NUMBER, nt_per_alias.IN_PROJECT_NAME, nt_per_alias.IN_COMPANY_NAME, nt_per_alias.ID_NO
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.nantian.pojo.NtPerAliasExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nt_per_alias
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPerId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from nt_per_alias
    where PER_ID = #{perId,jdbcType=INTEGER}
  </select>
  <select id="selectByNumList" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from nt_per_alias
        <foreach collection="projectNumberArr" item="projectNumber" separator="," open="where PROJECT_NUMBER in (" close=")">
          #{projectNumber,jdbcType=INTEGER}
        </foreach>
  </select>
  <select id="selectByAliasList" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from nt_per_alias
    <if test="projectNumberArr !=null and projectNumberArr.size >0 ">
        <foreach collection="projectNumberArr" item="projectNumber" separator="," open="where PROJECT_NUMBER in (" close=")">
          #{projectNumber,jdbcType=INTEGER}
        </foreach>
    </if>
  </select>
  <select id="selectByInProNameAndPronum" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from nt_per_alias
    where
       PROJECT_NUMBER = #{projectNumber,jdbcType=INTEGER}
       AND IN_PROJECT_NAME = #{inProjectName,jdbcType=VARCHAR}
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from nt_per_alias
    where IN_COMPANY_NAME = #{inCompanyName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByExample" parameterType="cn.com.nantian.pojo.NtPerAliasExample" >
    delete from nt_per_alias
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteByIdNo"   parameterType="java.lang.String">
    delete from nt_per_alias
    where ID_NO = #{idNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.nantian.pojo.NtPerAlias" >
    insert into nt_per_alias (PER_ID, PROJECT_NUMBER, IN_PROJECT_NAME, 
      IN_COMPANY_NAME, ID_NO)
    values (#{perId,jdbcType=INTEGER}, #{projectNumber,jdbcType=INTEGER}, #{inProjectName,jdbcType=VARCHAR}, 
      #{inCompanyName,jdbcType=VARCHAR}, #{idNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.nantian.pojo.NtPerAlias" >
    insert into nt_per_alias
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="perId != null" >
        PER_ID,
      </if>
      <if test="projectNumber != null" >
        PROJECT_NUMBER,
      </if>
      <if test="inProjectName != null" >
        IN_PROJECT_NAME,
      </if>
      <if test="inCompanyName != null" >
        IN_COMPANY_NAME,
      </if>
      <if test="idNo != null" >
        ID_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="perId != null" >
        #{perId,jdbcType=INTEGER},
      </if>
      <if test="projectNumber != null" >
        #{projectNumber,jdbcType=INTEGER},
      </if>
      <if test="inProjectName != null" >
        #{inProjectName,jdbcType=VARCHAR},
      </if>
      <if test="inCompanyName != null" >
        #{inCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        #{idNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!--查询别名信息列表 start-->
  <select id="queryNtPerAliasList" parameterType="cn.com.nantian.pojo.NtPerAlias" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    p.PROJECT_NAME projectName
    FROM
    nt_per_alias
    LEFT JOIN nt_project_info p ON p.PROJECT_NUMBER=nt_per_alias.PROJECT_NUMBER
    <where>
      <if test="custType !=null and custType!=''">
        and p.CUST_TYPE =#{custType}
      </if>
      <if test="perId !=null and perId!=''">
        and nt_per_alias.PER_ID =#{perId}
      </if>
      <if test="idNo !=null and idNo !=''">
        and nt_per_alias.ID_NO like CONCAT('%',#{idNo},'%')
      </if>
      <if test="inCompanyName !=null and inCompanyName !=''">
        and nt_per_alias.IN_COMPANY_NAME like CONCAT('%',#{inCompanyName},'%')
      </if>
    </where>
  </select>
  <!--查询客户信息列表 end-->
  <select id="countByExample" parameterType="cn.com.nantian.pojo.NtPerAliasExample" resultType="java.lang.Integer" >
    select count(*) from nt_per_alias
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByPerIdAndName"   resultType="java.lang.Integer" >
    select count(*) from nt_per_alias
    WHERE PER_ID = #{perId,jdbcType=INTEGER}
    AND IN_PROJECT_NAME = #{inProjectName,jdbcType=VARCHAR}
  </select>
  <select id="selectByNameOrIdNo" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from nt_per_alias
    <where>
      <if test="inCompanyName !=null and inCompanyName !=''">
        AND  IN_COMPANY_NAME = #{inCompanyName,jdbcType=VARCHAR}
      </if>
      <if test="idNo !=null and idNo !=''">
        AND ID_NO = #{idNo,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectByProjectNum" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from nt_per_alias
   WHERE   PROJECT_NUMBER = #{record.projectNumber,jdbcType=INTEGER}
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update nt_per_alias
    <set >
      <if test="record.perId != null" >
        PER_ID = #{record.perId,jdbcType=INTEGER},
      </if>
      <if test="record.projectNumber != null" >
        PROJECT_NUMBER = #{record.projectNumber,jdbcType=INTEGER},
      </if>
      <if test="record.inProjectName != null" >
        IN_PROJECT_NAME = #{record.inProjectName,jdbcType=VARCHAR},
      </if>
      <if test="record.inCompanyName != null" >
        IN_COMPANY_NAME = #{record.inCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="record.idNo != null" >
        ID_NO = #{record.idNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update nt_per_alias
    set PER_ID = #{record.perId,jdbcType=INTEGER},
      PROJECT_NUMBER = #{record.projectNumber,jdbcType=INTEGER},
      IN_PROJECT_NAME = #{record.inProjectName,jdbcType=VARCHAR},
      IN_COMPANY_NAME = #{record.inCompanyName,jdbcType=VARCHAR},
      ID_NO = #{record.idNo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByIdNoAndProjectNum" parameterType="java.lang.String">
    update nt_per_alias
    set
      IN_PROJECT_NAME = #{record.inProjectName,jdbcType=VARCHAR}
    WHERE  PROJECT_NUMBER = #{projectNumber,jdbcType=VARCHAR},
    AND    ID_NO = #{idNo,jdbcType=VARCHAR}
  </update>
  <update id="updateNtPerAlias" parameterType="cn.com.nantian.pojo.NtPerAlias">
    update nt_per_alias
    set
      PROJECT_NUMBER = #{projectNumber,jdbcType=INTEGER},
      IN_PROJECT_NAME = #{inProjectName,jdbcType=VARCHAR}
    WHERE ID_NO = #{idNo,jdbcType=VARCHAR}
  </update>
</mapper>